<% provide(:title, "#{@user.user_name}の参加イベント一覧") %>
<% @guest_events.each do |guest_event| %>
  <%= render partial: "events/event", locals: { event: guest_event } %>
<% end %>
<div class="col-12">
  <%= paginate(@guest_events) %>
</div>
