<% provide(:title, "#{@user.user_name}の主催イベント一覧") %>
<% @host_events.each do |host_event| %>
  <%= render partial: "events/event", locals: { event: host_event } %>
<% end %>
<div class="col-12">
  <%= paginate(@host_events) %>
</div>
