<div class="col-12">
  <div class="card">
    <div class="card-header">
      参加者
    </div>
    <div class="list-group list-group-flush">
      <% if @participants.length == 0 %>
        <div class="list-group-item text-center">参加者はいません</div>
      <% elsif %>
        <% @participants.each do |participant| %>
          <%= link_to participant.user_name, user_path(participant), method: :get, class: 'list-group-item list-group-item-action' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="col-12">
  <%= paginate(@participants) %>
</div>
