@import './_theme.scss';
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  margin-top: 71px !important;
}

.scrollspy {
  position: relative;
  overflow-y: auto;
}
@include media-breakpoint-up(md) {
  .scrollspy {
    max-height: calc(100vh - 149px);
  }
}
