 body {
  margin-top: 58px !important;
}

.navbar-brand > img {
  height: 30px;
}

.breadcrumb > li + li {
  padding-left: 0.5rem;
}

.breadcrumb > li + li::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #b5acac;
  content: "/";
}

#eye_cathing {
  background: linear-gradient(90deg,#ffffffd9,#ffffff26),url("/assets/eye_catching.jpg") no-repeat;
  background-size: cover;
}

#search-results {
  max-height: calc(100vh - 78px);
  top: 38px;
  z-index: 1;
}
