<ol class="breadcrumb border shadow py-1 mb-0">
  <%= render_breadcrumbs :tag => :li, :separator => "" %>
</ol>
<% if notice %>
  <div class="alert alert-success alert-dismissible fade show shadow" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger alert-dismissible fade show shadow" role="alert">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if yield(:title).present? %>
  <div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <h1><%= yield(:title) %></h1>
      </div>
    </div>
  </div>
<% end %>
